* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", sans-serif;
  height: 100vh;
  background: rgba(8, 44, 57, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.5s;
}

/* NIGHT MODE */
body.night {
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
}

.weather-card {
  background: rgba(224, 248, 196, 0.85);
  padding: 25px;
  width: 350px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
  text-align: center;
}

.search {
  display: flex;
  gap: 5px;
  margin-bottom: 15px;
}

input {
  flex: 1;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  padding: 8px 12px;
  border: none;
  border-radius: 8px;
  background: #4facfe;
  color: #fff;
  cursor: pointer;
}

.weather-icon {
  width: 80px;
}

.temp {
  font-size: 32px;
  font-weight: bold;
}

.forecast {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: 10px;
}

.forecast-item {
  background: rgb(184, 193, 163);
  padding: 8px;
  border-radius: 8px;
  font-size: 12px;
}

